
a.navbar-brand {
  white-space: normal;
  word-break: break-all;
}

a {
  color: white;
}

.btn-primary {
    color: white;
    background-color: transparent;
    margin-top: 5px;
    border: 1px solid #ccc;
    width: 150px;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: RGB(1,216,251);
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../content/battlestation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 60px;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.custom-dropdown-container {
    position: relative;
    display: inline-block;
}

.custom-dropdown {
    color: white;
    background-color: transparent;
    border: 1px solid #ccc;
    width: 200px;
    padding: 6px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.custom-dropdown-2 {
    color: white;
    background-color: transparent;
    border: 1px solid #ccc;
    width: 200px;
    padding: 6px;
    font-weight: bold;
}

.custom-dropdown option {
    background-color: rgba(200, 200, 200, 0.7);
    color: black;
}

.custom-dropdown:focus,
.custom-dropdown-container:focus-within {
    outline: none;
}

.custom-dropdown-container:focus-within .custom-dropdown {
    background-color: transparent;
}

.add-button {
    color: white;
    text-decoration: underline;
}

h2 {
    font-weight: bold;
    color: white;
}

.game-id {
    color: white;
}

.table {
    color: white;
}

.table-hover {
    color: white;
}

.sort-options{
    color: white;
}

tr {
    color: white;
}

.update-id {
    color: white;
    padding-left: 6px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.delete-id {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.delete-form {
    display: inline-block;
}

.custom-bg-dark {
    background-color: transparent;
}

.navbar {
    background-color: black;
    align-items: flex-start;
}

.nav-item-2 {
    font-size: 17px;
}

.display-4 {
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    color: #02bdfd;
    outline: thin;
    outline-color: black;
}

p {
    font-size: 16px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 90px;
}

.control-label {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.custom-dropdown-3 {
    color: white;
}

.nav-link text-light {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#sort {
    color: white;
}

td {
    color: white;
}

th {
    color: white;
}

label {
    color: white;
}