@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Personal Video Game Library</h1>
    <p>Welcome! You will be able to sort and add video games to your own personal library based on games that you have beaten the campaign for,<br/> games you have played but did not finish the campaign, and games that are on your "to-play" list!</p>
</div>
